@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
h1 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 96px;
  line-height: 100%;
  background-image: linear-gradient(#093A53, #FFFFFF);
  -webkit-background-clip: text;
  color: transparent;
  padding: 0;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 0;
  margin-right: 0;
}

h2 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 64px;
  line-height: 100%;
  background-image: linear-gradient(#093A53, #FFFFFF);
  -webkit-background-clip: text;
  color: transparent;
  padding: 0;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 0;
  margin-right: 0;
}

h3 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  color: white;
  padding: 0;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 0;
  margin-right: 0;
}

p {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #9B9B9B;
  padding: 0;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 0;
  margin-right: 0;
}

a {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 18;
}

@media (min-width: 100px) {
  h1 {
    font-size: 44px;
  }
  h2 {
    font-size: 44px;
  }
}
@media (min-width: 768px) {
  h1 {
    font-size: 64px;
  }
  h2 {
    font-size: 44px;
  }
}
@media (min-width: 992px) {
  h1 {
    font-size: 76px;
  }
  h2 {
    font-size: 44px;
  }
}
@media (min-width: 1200px) {
  h1 {
    font-size: 96px;
  }
  h2 {
    font-size: 64px;
  }
}
@media (min-width: 1400px) {
  h1 {
    font-size: 96px;
  }
  h2 {
    font-size: 64px;
  }
}
* {
  scroll-behavior: smooth;
}

body {
  background-color: #03141D;
  padding: 0;
}

@media (min-width: 100px) {
  body {
    margin-top: 128px;
    margin-bottom: 0;
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media (min-width: 768px) {
  body {
    margin-top: 128px;
    margin-bottom: 0;
    margin-left: 32px;
    margin-right: 32px;
  }
}
@media (min-width: 992px) {
  body {
    margin-top: 128px;
    margin-bottom: 0;
    margin-left: 64px;
    margin-right: 64px;
  }
}
@media (min-width: 1200px) {
  body {
    margin-top: 128px;
    margin-bottom: 0;
    margin-left: 128px;
    margin-right: 128px;
  }
}
@media (min-width: 1400px) {
  body {
    margin-top: 128px;
    margin-bottom: 0;
    margin-left: 256px;
    margin-right: 256px;
  }
}
.certificate .card {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.certificate .card .card-content {
  width: 400px;
  height: fit-content;
  margin-bottom: 32px;
}
.certificate .card .card-content img {
  width: 400px;
  border-radius: 16px;
}
.certificate .card .card-content .tag {
  padding: 12px 24px;
  background-color: #093A53;
  width: fit-content;
  border-radius: 100px;
}
.certificate .card .card-content .tag a {
  color: #FFFFFF;
  margin: 0;
  font-weight: 300;
}

.currently-work .card {
  display: flex;
  overflow: scroll;
}
.currently-work .card .card-content {
  width: 350px;
  height: fit-content;
  margin-right: 20px;
}
.currently-work .card .card-content img {
  width: 350px;
  border-radius: 16px;
}
.currently-work .card .card-content .tag {
  padding: 12px 24px;
  background-color: #093A53;
  width: fit-content;
  border-radius: 100px;
}
.currently-work .card .card-content .tag p {
  color: #FFFFFF;
  margin: 0;
}

.hero {
  margin-top: 64px;
  margin-bottom: 64px;
  text-align: center;
}
.hero .tag {
  display: flex;
  justify-content: center;
}
.hero .tag .tag-content {
  padding: 12px 24px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  background-color: #03141D;
  width: fit-content;
  border-radius: 100px;
}
.hero .tag .tag-content p {
  margin: 0;
}
.hero a {
  padding: 16px 32px;
  background-color: #FFFFFF;
  color: black;
  border-radius: 100px;
}

.nav {
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 3;
}
.nav .nav-container {
  display: flex;
  justify-content: center;
}
.nav .nav-container .nav-content {
  width: fit-content;
  display: flex;
  justify-content: space-between;
  overflow: scroll;
  background-color: #093A53;
  padding: 24px 32px;
  border-radius: 100px;
}
.nav .nav-container .nav-content a {
  margin-left: 12px;
  margin-right: 12px;
  color: #9B9B9B;
  text-decoration: none;
}
.nav .nav-container .nav-content a.active {
  color: #FFFFFF;
}
.nav .nav-container .nav-content a:hover {
  color: #FFFFFF;
}

@media (min-width: 100px) {
  .nav {
    top: 32px;
  }
}
@media (min-width: 768px) {
  .nav {
    top: 32px;
  }
}
@media (min-width: 992px) {
  .nav {
    top: 32px;
  }
}
@media (min-width: 1200px) {
  .nav {
    top: 32px;
  }
}
@media (min-width: 1400px) {
  .nav {
    top: 32px;
  }
}
.sticky {
  position: sticky;
  top: 128px;
}

.experience {
  margin-top: 32px;
  margin-bottom: 32px;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.currently-work {
  margin-top: 32px;
  margin-bottom: 32px;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.certificate {
  margin-top: 32px;
  margin-bottom: 32px;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}

/*# sourceMappingURL=styles.css.map */
