.certificate {
    .card {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        .card-content {
            width: 400px;
            height: fit-content;
            margin-bottom: 32px;
            img {
                width: 400px;
                border-radius: 16px;
            }
            .tag {
                padding: 12px 24px;
                background-color: #093A53;
                width: fit-content;
                border-radius: 100px;
                a {
                    color: #FFFFFF;
                    margin: 0;
                    font-weight: 300;
                }
            }
        }
    }
}

@media (min-width: 100px) {
    .certificate {
        .card {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            .card-content {
                width: 400px;
                height: fit-content;
                margin-bottom: 32px;
                img {
                    width: 100%;
                    border-radius: 16px;
                }
                .tag {
                    padding: 12px 24px;
                    background-color: #093A53;
                    width: fit-content;
                    border-radius: 100px;
                    a {
                        color: #FFFFFF;
                        margin: 0;
                        font-weight: 300;
                    }
                }
            }
        }
    }
}

.currently-work {
    .card {
        display: flex;
        overflow: scroll;
        .card-content {
            width: 350px;
            height: fit-content;
            margin-right: 20px;
            img {
                width: 350px;
                border-radius: 16px;
            }
            .tag {
                padding: 12px 24px;
                background-color: #093A53;
                width: fit-content;
                border-radius: 100px;
                p {
                    color: #FFFFFF;
                    margin: 0;
                }
            }
        }
    }
}