.nav {
    width: 100%;
    position: fixed;
    // top: 32px;
    left: 0;
    right: 0;
    .nav-container {
        display: flex;
        justify-content: center;
        .nav-content {
            width: fit-content;
            display: flex;
            justify-content: space-between;
            overflow: scroll;
            background-color: #093A53;
            padding: 24px 32px;
            border-radius: 100px;
            a {
                margin-left: 12px;
                margin-right: 12px;
                color: #9B9B9B;
                text-decoration: none;
            }
            a.active {
                color: #FFFFFF;
            }
            a:hover {
                color: #FFFFFF;
            }
        }
    }
}

@media (min-width: 100px) {
    .nav {
        bottom: 64px;
    }
}

@media (min-width: 768px) {
    .nav {
        bottom: 64px;
    }
}

@media (min-width: 992px) {
    .nav {
        top: 32px;
    }
}

@media (min-width: 1200px) {
    .nav {
        top: 32px;
    }
}

@media (min-width: 1400px) {
    .nav {
        top: 32px;
    }
}