.experience {
    margin-top: 32px;
    margin-bottom: 32px;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    img {
        width: 100%;
        border-radius: 16px;
        margin-top: 32px;
    }
}

.currently-work {
    margin-top: 32px;
    margin-bottom: 32px;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.certificate {
    margin-top: 32px;
    margin-bottom: 32px;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
}