* {
    scroll-behavior: smooth;
}

body {
    background-color: #03141D;
    padding: 0;
}

@media (min-width: 100px) {
    body {
        margin-top: 128px;
        margin-bottom: 0;
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media (min-width: 768px) {
    body {
        margin-top: 128px;
        margin-bottom: 0;
        margin-left: 32px;
        margin-right: 32px;
    }
}

@media (min-width: 992px) {
    body {
        margin-top: 128px;
        margin-bottom: 0;
        margin-left: 44px;
        margin-right: 44px;
    }
}

@media (min-width: 1200px) {
    body {
        margin-top: 128px;
        margin-bottom: 0;
        margin-left: 64px;
        margin-right: 64px;
    }
}

@media (min-width: 1400px) {
    body {
        margin-top: 128px;
        margin-bottom: 0;
        margin-left: 96px;
        margin-right: 96px;
    }
}